body{
    background-image: url(Puzzle\ Square\ background.webp);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    position: absolute;
    left: 550px;
    top: 200px;
    color: #000;
    font-family: Nico Moji;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button1{
    position: absolute;
    font-family: Nico Moji;
    left: 700px;
    top: 400px;
    width: 100px;
    height: 40px;
    color: black;
    background-color: #FA0707;
}

#audioToggle{
    position: absolute;
    font-family: New Rocker;
    left: 1400px;
    top: 20px;
    background-color: red;
}
  @media screen and (min-width: 768px) {
    body {
    font-size: 18px;
    }
   }